*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-weight: 100;
    border-bottom: 1px solid #61dfff;
    margin-bottom: 70px;
}

fieldset{
    padding: 15px;
}

.disappear{
    opacity: 0;
}

main section.form-container.appear{
    opacity: 1;
}

main section.form-subjects.appear{
    opacity: 1;
}

main section.form-container.add{
    display: block;
}
main section.form-subjects.add{
    display: flex;
}

.remove{
    display: none;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}

form input{
    padding: 13px;
    outline: none;
}

main section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
    transition: 0.4s;
}

main section.form-container{
    display: none;
    opacity: 0;
    transition: 0.4s;
}


main section h1{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 100;
}

main section button{
    outline: none;
    background-color: white;
    border: 0.5px solid black;
    padding: 13px;
    cursor: pointer;
    transition: 0.4s;
}

main section button:hover{
    transform: scale(1.1);
}

section.form-container{
    width: 30em;
}

/* section.form-introduction h2{
    text-align: center;
    font-weight: 100;
    border-bottom: 1px solid #61dfff;
    margin-bottom: 70px;
} */

section.form-subjects{
    opacity: 0;
    display: none;
}

section.subject{
    opacity: 0;
    display: none;
}

main section.form-container form section.subject.add{
    display: flex;
}

main section.form-container form section.subject.appear{
    opacity: 1;
}

.filled{
    border: 1px solid green;

}

